<!DOCTYPE html>
<html>
    <head>
        <title>DartsJS</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles/flatly.bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/styles/main.css" type='text/css'>
        <!-- Custom stlylesheet -->
	    <link type="text/css" rel="stylesheet" href="css/style.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
    </head>
    <body align="center">

        <!-- Block body -->
        {{{ body }}}

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/907683f3ba.js"></script>
    </body>
</html>